@import url("https://fonts.googleapis.com/css2? family= Cairo:wght@300 & family= Poppins:wght@100;300;400;500;600 & family= Roboto+Slab: peso@300 & mostrar=cambiar");

* {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

:root[data-theme="claro"] {
  --blue: #29d9d5;
  --black: #111;
  --white: #fff;
  --lihgt-color: #aaa;
  --bg-color: #222;
  --black-bg: rgba(17, 17, 17, 0.7);
  --border: 0.2rem solid var(--blue);
  --form-ok-color: #4caf50;
  --form-error-color: #c62e2367;
}

:root[data-theme="oscuro"] {
  --blue: #1b1ef1;
  --black: #ebf5f1;
  --white: #0f0101;
  --lihgt-color: #1f1f20;
  --bg-color:rgb(77, 211, 234);
  --black-bg: rgba(77, 211, 234, 0.816);
  --border: 0.2rem solid var(--blue);
  --form-ok-color: #4caf50;
  --form-error-color: #aa281fe6;
}
/**@mixin grid(val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(val, 1fr));
  gap: 1.5rem;
}**/

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: var(--black);
}

html::-webkit-scrollbar-thumb {
  background: var(--blue);
}

body {
  background: var(--black);
  overflow-x: hidden;
}
section {
  padding: 3rem 9%;
}
/**definicion clase header**/
.heading {
  text-align: center;
  font-size: 2rem;
}

.heading span {
  color: var(--blue);
  font-size: 2rem;
}

.heading h1 {
  font-size: 4rem;
  color: var(--white);}
/* menu con efecto*/

.nav_toggle {
  display: none;
}
/**seccion del header inicio**/
.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: var(--blue);
  border: var(--border);
  border-radius: 5rem;
  cursor: pointer;
  background: none;
}

.btn:hover {
  background: var(--blue);
  color: var(--black);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 9%;
}

.header .navbar a {
  font-size: 1.7rem;
  color: var(--lihgt-color);
  display: inline-block;
  margin: 0 1rem;
}

.header .navbar a:hover {
  color: var(--blue);
}

.btn {
  margin-top: 0;
}
header img {
  width: 13rem;
  height: 3.8rem;
}
#menu-btn {
  font-size: 2.5rem;
  color: var(--white);
  cursor: pointer;
  display: none;
}
/* modo claro-oscuro*/

.switch {
  background: #343d5b;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}

.switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: .3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
}

.switch.active {
  background: rgb(255, 179, 0);
  color: #000;
}

.switch.active::after {
  right: 0;
  left: unset; 
}

.switch span{
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff;
}

/**home seccion  starts**/
.home {
  margin: 0 auto;
  margin-top: 9rem;
  width: 90%;
  border-radius: 1rem;
  background: linear-gradient(var(--black-bg), var(--black-bg)),
    url(../imagenes/imagen1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
}

.home .content {
  text-align: center;
}

.home .content span {
  font-weight: bolder;
  color: transparent;
  -webkit-text-stroke: 0.1rem var(--white);
  font-size: 4vw;
  display: block;
}

.home .content h3 {
  font-size: 6vw;
  color: var(--white);
}

.home .content p {
  max-width: 60rem;
  margin: 1rem auto;
  font-size: 1.4rem;
  color: var(--lihgt-color);
  line-height: 2;
}
/**booking form section starts**/
.book-form {
  width: 80%;
  margin: 1rem auto;
  margin-top: -4rem;
  background: var(--bg-color);
  border-radius: 1rem;
  box-shadow: 0.5rem 1rem rgba(17, 17, 17, 0.3);
  padding: 3rem 2rem;
}

.book-form form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}


.book-form form .inputBox {
  flex: 1 1 25rem;
}
.book-form form .inputBox span {
  font-size: 1.4rem;
  color: var(--lihgt-color);
}
.book-form form .inputBox select {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border-radius: 5rem;
  border: var(--border);
  font-size: 1.6rem;
  color: var(--lihgt-color);
  text-transform: none;
  background: var(--bg-color);
  margin-top: 1rem;
}

.book-form form .inputBox input {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border-radius: 5rem;
  border: var(--border);
  font-size: 1.6rem;
  color: var(--lihgt-color);
  text-transform: none;
  background: none;
  margin-top: 1rem;
}
textarea {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border-radius: 5rem;
  border: var(--border);
  font-size: 1.6rem;
  color: var(--lihgt-color);
  text-transform: none;
  background: none;
  margin-top: 1rem;
  height: 44px;
  outline: none;
  resize: none;
  font-size: 1.3rem;
}
textarea::-webkit-scrollbar {
  width: 0px;
}

.book-form form .btn {
  flex: 1 1 15rem;
}

/** validacion formulario**/

.inputBox [required]:valid {
  border: thin solid var(--form-ok-color);
}

.inputBox [required]:invalid {
  border: thin solid var(--blue);
}

.book-form *::placeholder {
  color: var(--white);
}

.contact-form-error {
  margin-top: -1rem;
  font-size: 80%;
  background-color:var(--form-error-color);
  color:var(--form-ok-color);
  transition: all 800ms ease;
  border-radius: 3rem;
  padding: 1rem;
}

.contact-form-error.is-active {
  display: block;
  animation: show-message 1.5s 1 normal 0s ease-out both;
}

.book-form-loader {
  text-align: center;
}

.none {
  display: none;
}

@keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

/**about section starts-**/
.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 5rem;
}
.about .video-container {
  flex: 1 1 42rem;
}
.about .video-container video {
  border-radius: 1rem;
  width: 100%;
}
.about .video-container .controls {
  text-align: center;
  padding: 2rem 0;
}
.about .video-container .controls span {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: var(--white);
  cursor: pointer;
  margin: 0.7rem;
}
.about .video-container .controls span:hover {
  background: var(--blue);
}

.about .content {
  flex: 1 1 42rem;
  margin-bottom: 5rem;
}
.about .content span {
  color: var(--blue);
  font-size: 2rem;
}
.about .content h3 {
  color: var(--white);
  font-size: 4rem;
  margin-top: 0.5rem;
}

.about .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: var(--lihgt-color);
  line-height: 2;
}
/**destinacion seccion starts**/
.destination .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}
.destination .box-container .box {
  border-radius: 1rem;
  overflow: hidden;
  background: var(--bg-color);
}
.destination .box-container .box:hover img {
  transform: scale(1.1);
}

.destination .box-container .box .image {
  height: 20rem;
  overflow: hidden;
  width: 100%;
}
.destination .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.destination .box-container .box .content {
  padding: 2rem;
  text-align: center;
}
.destination .box-container .box .content h3 {
  font-size: 2rem;
  color: var(--white);
}
.destination .box-container .box .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: var(--lihgt-color);
  line-height: 2;
}
.destination .box-container .box .content a {
  font-size: 1.7rem;
  color: var(--blue);
}

.destination .box-container .box .content a:hover > i {
  padding-left: 1rem;
}

.destination .box-container .box .content a i {
  padding-right: 0.5rem;
}
/**<!-- services dection starts-->**/

.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}
.services .box-container .box {
  background: var(--bg-color);
  border-radius: 1rem;
  padding: 3rem;
  text-align: center;
  border: 0.2rem solid var(--black);
}
.services .box-container .box:hover {
  border: var(--border);
}
.services .box-container .box i {
  font-size: 4rem;
  color: var(--blue);
  margin-bottom: 2rem;
}
.services .box-container .box h3 {
  font-size: 2rem;
  color: var(--white);
}
.services .box-container .box p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: var(--lihgt-color);
  line-height: 2;
}

.gallery .box-container {
  columns: 3 25rem;
  column-gap: 1rem;
}

.gallery .box-container .box {
  margin-bottom: 1rem;
  break-inside: avoid;
}
.gallery .box-container .box img {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.gallery .box-container .box span {
  font-size: 1.4rem;
  color: var(--lihgt-color);
}
.gallery .box-container .box h3 {
  margin-top: 0.5rem;
  font-size: 2rem;
  color: var(--white);
}
/**review secction starts**/
.review {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.review .content {
  flex: 1 1 42rem;
}
.review .content span {
  font-size: 2rem;
  color: var(--blue);
}
.review .content h3 {
  font-size: 3rem;
  color: var(--white);
}
.review .content p {
  font-size: 1.4rem;
  color: var(--lihgt-color);
  padding: 1rem 0;
  line-height: 2;
}

.review .box-container {
  flex: 1 1 42rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.review .box-container .box {
  flex: 1 1 20rem;
  border-radius: 1rem;
  padding: 2rem;
  background: var(--bg-color);
  border: 0.2rem solid var(--black);
}
.review .box-container .box:hover {
  border: var(--border);
}
.review .box-container .box p {
  font-size: 1.4rem;
  padding-bottom: 1rem;
  line-height: 2;
  color: var(--lihgt-color);
}

.review .box-container .box .user {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.review .box-container .box .user img {
  width: 5rem;
  height: 5rem;

  border-radius: 50%;
}
.review .box-container .box .user h3 {
  font-size: 1.7rem;
  color: var(--white);
}
.review .box-container .box .user span {
  color: var(--lihgt-color);
  font-size: 1.5rem;
}

.blogs .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}
.blogs .box-container .box {
  border-radius: 1rem;
  background: var(--bg-color);
  overflow: hidden;
}
.blogs .box-container .box:hover > .image img {
  transform: scale(1.1);
}

.blogs .box-container .box .image {
  height: 25rem;
  overflow: hidden;
  width: 100%;
}
.blogs .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.blogs .box-container .box .content {
  padding: 2rem;
}
.blogs .box-container .box .content .link {
  font-size: 2rem;
  color: var(--white);
}

.blogs .box-container .box .content .link:hover {
  color: var(--blue);
}

.blogs .box-container .box .content p {
  padding: 1rem 0;
  font-size: 1.6rem;
  color: var(--lihgt-color);
  line-height: 2;
  text-align: justify;
}
/** ocultar parrafos**/
none{
  display: none;
}

.blogs .box-container .box .content .icon .a {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blogs .box-container .box .content .a {
  font-size: 1.4rem;
  color: var(--lihgt-color);
}
.blogs .box-container .box .content .a:hover {
  color: var(--blue);
}
.blogs .box-container .box .content .a i {
  padding-right: 0.5rem;
  color: var(--blue);
}
/** banner section starts**/

.banner {
  background: linear-gradient(var(--black-bg), var(--black-bg)),
    url(../imagenes/banner1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 3rem 2rem;
  background-attachment: fixed;
  text-align: center;
}
.banner .content span {
  font-size: 2rem;
  color: var(--blue);
}
.banner .content h3 {
  font-size: 4rem;
  color: var(--white);
  margin-top: 1rem;
}
.banner .content p {
  max-width: 60rem;
  margin: 1rem auto;
  font-size: 1.4rem;
  color: var(--lihgt-color);
  line-height: 2;
}

/** footer section starts**/

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
}
.footer .box-container .box {
  padding: 1rem 0;
 
}
.logo-footer{
  width: 75px; 
  height:30px;
  background-color: #0f0101;
}

.footer .box-container .box .logo {
  padding-bottom: 1rem;
}
.footer .box-container .box h3  {
  font-size: 2.2rem;
  color: var(--white);
  padding: 1rem 0;
}

.footer .box-container .box p {
  font-size: 1.4rem;
  color: var(--lihgt-color);
  padding: 1rem 0;
  line-height: 2;
}
.footer .box-container .box p i {
  padding-right: 0.5rem;
  color: var(--blue);
}

.footer .box-container .box .share {
  padding-top: 1rem;
}
.footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4rem;

  border-radius: 50%;
  font-size: 1.7rem;
  border: var(--border);
  color: var(--blue);
  margin-right: 0.5rem;
  text-align: center;
}
.footer .box-container .box .share a:hover {
  background: var(--blue);
  color: var(--black);
}

.footer .box-container .box .link {
  font-size: 1.4rem;
  color: var(--lihgt-color);
  padding: 1rem 0;
  display: block;
}
.footer .box-container .box .link:hover {
  color: var(--blue);
}
.footer .box-container .box .link i {
  padding-right: 0.5rem;
  color: var(--blue);
}
.footer .box-container .box .link:hover i {
  padding-right: 2rem;
}

.footer .box-container .box form .email {
  width: 100%;
  border-radius: 5rem;
  border: var(--border);
  background: none;
  font-size: 1.5rem;
  text-transform: none;
  color: var(--lihgt-color);

  margin-bottom: 1rem;
  padding: 1.2rem 1.4rem;
}

.credit {
  background: var(--bg-color);
  text-align: center;
  font-size: 2rem;
  padding: 2rem 1rem;
  color: var(--lihgt-color);
}
.credit span {
  color: var(--blue);

  
}

/** cambio de moneda**/


.moneda select,
.moneda input {
  display: inline-block;
  vertical-align: middle;
  border-radius: 5rem;
    border: var(--border);
    background: none;
    font-size: 1.5rem;
    text-transform: none;
    color: var(--lihgt-color);
    margin-bottom: .5rem;
    padding: 0.5rem;
    width:fit-content;
  
}

#cambio, span {
  font-size: 1rem;
  color: var(--white);
  padding: .1rem 0;
}


.moneda input, .moneda select {
  
    width: 100%;
    border-radius: 5rem;
    border: var(--border);
    background: none;
    font-size: 1.5rem;
    text-transform: none;
    color: var(--lihgt-color);
  
    margin-bottom: 1rem;
    padding: 1.2rem 1.4rem;
    display: inline-block;
  vertical-align: middle;
}






@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  /*#menu-btn {
    font-size: 4.5rem;
    display: inline-block;
  }*/

  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: var(--bg-color);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    opacity: 0.8;
  }

  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .navbar a {
    margin: 2rem;
    font-size: 2rem;
    display: block;
  }
  

  .home {
    margin-top: 10rem;
  }
  .home .content span {
    font-size: 8vw;
  }
  .home .content h3 {
    font-size: 9vw;

  }

  .header .nav_toggle {
    display: flex !important;
    flex-direction: column;
    margin: 15px;
    cursor: pointer;
}

.header .nav_toggle span {
    width: 30px;
    height: 5px;
    background: var(--white);
    margin-bottom: 5px;
    border-radius: 2px;
    transform-origin: 5px 0px;
    transition: all 0.2s linear;
}

.close span {
    transform: rotate(45deg) translate(0px, 0px);
}

.close span:nth-child(2) {
    display: none;
}

.close span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px, 1px);
}

.open {
    transform: translateX(0) !important;
}

.nav_items a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: rgb(2, 39, 41);
  transition: all 0.5s;
}

.nav_items a:hover::before {
  width: 100% !important;
}


@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .about .content h3 {
    font-size: 3.5rem;
  }

  .banner .content h3 {
    font-size: 2.7rem;
  }

  #menu-btn {
    font-size: 4.5rem;
  }}
}